/* App.css */
.App {
  background-color:pink;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
  max-width: 100%; /* full screen width */ 
  margin: 20;
}

.recipe-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  text-align: center;

}


.recipe-item {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: left;
  text-align: center;
  margin: 0 auto;


}

.recipe-item img {
  max-width: 100%;
  height: auto;
}

.slider-container {
  margin: 20px;
}


.stats-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.stats-item {
  background-color: darkpink;
  padding: 10px;
  border-radius: 5px;
  color: black;
  background-color: rgb(244, 135, 153);
  font-size: large;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}